# Required
FB_TOKEN=EAAXrT2sLFw4BRJvy0sJK4ZCs08V6z0jZC2ikGvdI8AlOTzgabMp7BbhZA366TmDvosORGkDWqGqZBWOZAU51vm1rPS4EYZCYuxQIgc6qAi7Qn1rang6xDfZAPl8S1VEOZBZBqKTJtLPZBtAjoj9j0e7PCGhVIVmRLY9aBzSuY0IbaAZAHCgH3QvyvA855fgypYtvZAaVusSmwuMtI5diY8F7jYFnIESc
FB_PAGE_ID=1029537650244353
FOOTBALL_KEY=71449003e05d41c28bcfd3b897bef8ee

# Optional (more live sources = better coverage)
LIVESCORE_KEY=Or9BD0QmXGgtKjcj
LIVESCORE_SECRET=XGTC1jyrdcKvIvkxWt9At0XqHdUsw7Lu
RAPIDAPI_KEY=c1ee2c4f7dmshba893a0b94c92a0p13b07cjsnf9d8165e2b3c
APIFOOTBALL_KEY=b0a492a7452e2b10137a6fd67b05f2c9
